@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    // Animation chargement de la page 

    -webkit-animation: chargementPage 6s both;
    animation: chargementPage 6s both;

    // Fin de l'animation sur le chargement de la page 
    
}
// Barres de chargement 
.section-barres { background-color: #FF0000;}
.loader {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.loader-bars:before,
.loader-bars:after,
.loader-bars span {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 30px;
	background-color: #fff; // couleur des barres de chargement
	-webkit-animation: grow 1.5s linear infinite;
	animation: grow 1.5s linear infinite; // animation barre 1 
}

.loader-bars:after {
	left: 15px;
	-webkit-animation: grow 1.5s linear -.5s infinite;
	animation: grow 1.5s linear -.5s infinite; // animation barre 2 
}

.loader-bars span {
	left: 30px;
	-webkit-animation: grow 1.5s linear -1s infinite;
	animation: grow 1.5s linear -1s infinite; // animation barre 3 
}
// Fin des barres de chargement 
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #FFF; // À vérifier 
}
.liens{
    color: black;
}
html{
    scroll-behavior: smooth;
}
.header{
    &__img{
        width: 100%;
        text-align: center;
        padding: 20px 0 10px 0;
        box-shadow: 0 0 20px rgba(94, 63, 63, 0.350);
        margin-bottom: 2px;
        // Box shadow à mettre 
    }
    &__location{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        padding-right: 4%;
        font-size: 1.2em;
        background-color: #EDEDED;
    }
    .fa-map-marker-alt{
        margin-right: 15px;
    }
    img{
        height: 30px;
    }
}
.heading-main{
    background-color: #F7F7F7;
    height: 270px;
    h1{
        font-size: 1.5em;
        text-align: center;
        margin: 0 20%;
        padding: 30px 0 0 0;
    }
    h3{
        font-size: 1.3em;
        text-align: center;
        font-weight: 100;
    }
    .btn{
        background: linear-gradient(175deg,#FF79DA, #9356DC);
        border-color: transparent;
        border-radius: 20px;
        color: white;
        padding: 10px 15px;
        display: block;
        margin: 30px auto 0 auto;     
    }
}
.fonctionnement{
    margin: 50px 0;
    &__header{
        margin-left: 3%;
    }
    &__li{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        background-color: #F7F7F7;
        width: 90%;
        margin: 20px auto;
        padding: 10px 0;
        border-radius: 20px;
        font-size: 1.2em;
        box-shadow: 0 0 20px rgba(94, 63, 63, 0.350);
        
        &:hover{
            background-color: #F7F1FF;
            .fa-store, .fa-list-ul, .fa-mobile-alt{
                color: #9356DC;
            }
        }
        i{
            margin: 0 20px;
        }
    }
    &__chiffre{
        background-color: #9356DC;
        color: white;
        padding: 2px 8px;
        border-radius: 20px;
        margin-left: -10px;
    }
    .fa-size{
        width: 30px;
        text-align: center;
        color: #868686;
    }
}
.restaurants{
    background-color: #F7F7F7;
    height: 1450px;
    h2{
        padding-top: 70px;
        margin-left: 5.5%;
        margin-bottom: 30px;
    }
    article{
        width: 90%;
        height: 300px;
        margin: 20px auto;
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(94, 63, 63, 0.200);
   
        img{
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
    }
    &__text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 10px 30px 0 15px;
        h3{
            margin-top: 0px;
            padding: 0px;
            margin-bottom: 0px;
            font-size: 1.2em;
        }
        p{
            margin-top: 7px ;
            font-size: 1.2em;
        }
        .fa-heart{
            font-size: 1.5em;
            margin-right: 10px;
        }
    }
    &__article-nouveau{
        position: relative;
    }
    &__text-nouveau{
        padding: 4px 12px;
        position: absolute;
        color: #198E6E;
        background-color: #99E2D0;
        top: -2px;
        right: 13px;
        border-radius: 2px;
    }
}
// CSS DE LA PAGE MENU 

.menu--nav{
    margin: 20px 0 10px 0;
    .fa-arrow-left{
        margin-left: 6%;
        margin-right: -6%;
        font-size: 1.2em;
        color: black;
    }
    i{
        
       float: left;
       margin-top: 2%;
    }
    &__logo{
        text-align: center;
        img{
            width: 50%; 
        }
       
    }
}
.menu--img_header{
    width: 100%;
    max-height: 300px;
}
.menu--section{
    border-radius: 40px 40px 0 0;
    background-color: #FFF;
    margin-top: -60px;
    position: relative;
    &__text{
        margin: 0 3%;
    }
    &__header{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin: 0;
        padding: 20px 0 0 0; 
    }
    &__titre{
        font-family: 'Shrikhand', sans-serif;
        font-size: 0.9em;
        margin-left: 2%;
    }
    .fa-heart{
        margin-right: 25px;
        font-size: 1.4em;
    }
    &__sous-titre{
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.1em;
        position: relative;
        &::after{
            content: " ";
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: #99E2D0;
            left: 0px;
            bottom: -7px;
        }
    }
    &__article{
        background-color: #FFF;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        margin: 20px auto;
        border-radius: 20px;
        //padding: 0 15px;
        box-shadow: 0 0 20px rgba(94, 63, 63, 0.200);

        // Animation pour les articles 

        -webkit-animation: remonteeArticle 3s both;
        animation: remonteeArticle 3s both;

        // Fin de l'animation sur les articles 

        h3{
            margin: 0;
            margin-top: 15px;
            font-size: 1.2em;
            font-weight: 500;
        }
        p{
            margin: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 1em;
            font-weight: 300;
            &.menu--section__prix{
                margin-right: 10px; // A réécrire 
                font-weight: 500;
            }
            
        }
    }
    &__menus{
        margin-left: 10px;
    }
}

.menu--btn{
    background: linear-gradient(#E483E2, #C077E1);
    border-color: transparent;
    border-radius: 40px;
    color: white;
    padding: 15px 55px;
    display: block;
    margin: 50px auto 70px auto;  
    font-size: 1.2em;   
}
// Début du copie de la fonction 
@-webkit-keyframes remonteeArticle {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes remonteeArticle {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
// Fin copie de la fonction   

// Fin de la copie de la page menu
footer{
    background-color: #353535;
    color: #FFF;
    .text-footer{
        padding: 30px 20px 50px 20px;
        &__img-text{
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
    }
    img{
        filter: invert(100%); 
        -webkit-filter:invert(100%); 
        height: 20px;
    }
    p{
        margin: 0px;
    }
    li{
        margin: 10px auto;
        font-size: 1em;
    }
    i{
        font-size: 0.8em;
        margin-right: 10px;
    }
    ul{
         margin-top: 25px;

    }
    .fa-hands{
        font-size: 0.55em;
        margin-right: 9px;
    }  
}
//Animation pour le chargement de la page 

@-webkit-keyframes chargementPage {
    0% {
        -webkit-transform: background(#FFF);
                transform: background(#FFF);
        opacity: 0;
      }
      100% {
        -webkit-transform: background(#FFF);
                transform: background(#FFF);
        opacity: 1;
      }
  }
  
  @keyframes chargementPage {
    0% {
      -webkit-transform: background(#FFF);
              transform: background(#FFF);
      opacity: 0;
    }
    100% {
      -webkit-transform: background(#FFF);
              transform: background(#FFF);
      opacity: 1;
    }
  }
// Fin animation chargement de la page 
//Animation pour l'effet de chargement  

@-webkit-keyframes grow {
	0% { -webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
	50% { -webkit-transform: scaleY(1); transform: scaleY(1); opacity: 1;}
	100% { -webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
}

@keyframes grow {
	0% { -webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
	50% { -webkit-transform: scaleY(1); transform: scaleY(1); opacity: 1;}
	100% { -webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
}

// Fin animation de l'effet de chargement 

