@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    // Animation chargement de la page 

    /*-webkit-animation: chargementPage 6s both;
    animation: chargementPage 6s both;*/

    // Fin de l'animation sur le chargement de la page 
    
}
// Barres de chargement 
/*
.section-barres { 
    background-color: #FF0000;
    animation: chargement 6s both; // A mettre en position absolute 
}
.loader {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.loader-bars:before,
.loader-bars:after,
.loader-bars span {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 30px;
	background-color: #fff; // couleur des barres de chargement
	-webkit-animation: grow 1.5s linear infinite;
	animation: grow 1.5s linear infinite; // animation barre 1 
}

.loader-bars:after {
	left: 15px;
	-webkit-animation: grow 1.5s linear -.5s infinite;
	animation: grow 1.5s linear -.5s infinite; // animation barre 2 
}

.loader-bars span {
	left: 30px;
	-webkit-animation: grow 1.5s linear -1s infinite;
	animation: grow 1.5s linear -1s infinite; // animation barre 3 
} */
// Fin des barres de chargement 
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #FFF; // À vérifier 
}
.liens{
    color: black;
}
html{
    scroll-behavior: smooth;
}

.header{
    &__img{
        width: 100%;
        text-align: center;
        padding: 20px 0 10px 0;
        box-shadow: 0 0 20px rgba(94, 63, 63, 0.350);
        margin-bottom: 2px;
        // Box shadow à mettre 
    }
    &__form{
        height: 60px;
        background-color: red;
        &--search{
            border: none;
            width: 150px;
            background: none;
        }
    }
    &__location{
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        background-color: #EDEDED;
    }
    .fa-map-marker-alt{
        margin-right: 15px;
        margin-top: -3px;
        font-size: 0.9Em;
    }
    img{
        height: 30px;
    }
}
input::placeholder{
    color: black;
    opacity: 1;
}
.heading-main{
    background-color: #F7F7F7;
    height: 270px;
    h1{
        font-size: 1.5em;
        text-align: center;
        margin: 0 20%;
        padding: 30px 0 0 0;
    }
    h3{
        font-size: 1.3em;
        text-align: center;
        font-weight: 100;
    }
    .btn{
        background: linear-gradient(175deg, #FF79DA, #9356DC);
        border-color:  #FF79DA;
        border-radius: 20px;
        color: white;
        padding: 12px 30px;
        display: block;
        margin: 30px auto 0 auto;
        &:hover{
            box-shadow: 1px 1px 10px black;
        }     
    }
}
@media (min-width : 1100px){
    .heading-main{
        height: 210px;
    }
}
.fonctionnement{
    margin: 50px 0;
    &__header{
        margin-left: 3%;
    }
    &__li{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        background-color: #F7F7F7;
        width: 90%;
        margin: 20px auto;
        padding: 10px 0;
        border-radius: 20px;
        font-size: 1.2em;
        box-shadow: 0 0 20px rgba(94, 63, 63, 0.350);
        cursor: pointer;
        
        &:hover{
            background-color: #F7F1FF;
            .fa-store, .fa-list-ul, .fa-mobile-alt{
                color: #9356DC;
            }
        }
        i{
            margin: 0 20px;
        }
    }
    &__chiffre{
        background-color: #9356DC;
        color: white;
        padding: 2px 8px;
        border-radius: 20px;
        margin-left: -10px;
    }
    .fa-size{
        width: 30px;
        text-align: center;
        color: #868686;
    }
}
@media (min-width : 1100px){
    .fonctionnement{
        margin: 0px;
        &__ul{
            display: flex;
            flex-direction: row;
        }
        &__li{
            width: 30%;
        }
        p{
            font-size: 0.9em;
        }
    }
}
.restaurants{
    background-color: #F7F7F7;
    height: 1450px;
    h2{
        padding-top: 70px;
        margin-left: 5.5%;
        margin-bottom: 30px;
    }
    article{
        width: 90%;
        height: 300px;
        margin: 20px auto;
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(94, 63, 63, 0.200);
   
        img{
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
    }
    &__coeurs{
        cursor: pointer;
        position: absolute;
        right: 5px;
        &:hover{
            .vide{
                opacity: 0;
                transition-duration: 2s;
            }
            .plein{
                opacity: 1;
                transition-duration: 2s;
            }
        }

    }
    .vide{
        opacity: 1;
    }
    .plein{
        position: absolute;
        top: 1.2px;
        right: 0px;
        opacity: 0;
        background-image: linear-gradient( 175deg, #ff79da, #9356dc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        } 
    &__text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 10px 30px 0 15px;
        position: relative;
        h3{
            margin-top: 0px;
            padding: 0px;
            margin-bottom: 0px;
            font-size: 1.2em;
        }
        p{
            margin-top: 7px ;
            font-size: 1.2em;
        }
        .fa-heart{
            font-size: 1.5em;
            margin-right: 10px;
        }
    }
    &__article-nouveau{
        position: relative;
    }
    &__text-nouveau{
        padding: 4px 12px;
        position: absolute;
        color: #198E6E;
        background-color: #99E2D0;
        top: -2px;
        right: 13px;
        border-radius: 2px;
    }
}
li.restaurants__coeurs::marker{
   color: #FFF;   // A vérifier 
}
@media (min-width : 1100px){
    .restaurants{
        height: auto;
        h2{
            padding-top: 40px;
            margin: 0px 0 0px 2.5%;
        }
        &__section{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .liens{
            width: 50%;
        }
    }
}
// CSS DE LA PAGE MENU 

.menu--nav{
    margin: 0px;
    position: relative;
    padding: 15px;
    .fa-arrow-left{
        position: absolute;
        top: 35%;
        left: 30px;
        font-size: 1.2em;
        color: black;
    }
    i{ 
       float: left;  
    }
    &__logo{
        text-align: center;
        img{
            width: 50%; 
        }
        font-family: 'Shrikhand', sans-serif;
        font-size: 2em;   
    }
}
.menu--img_header{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
.menu--section{
    border-radius: 40px 40px 0 0;
    background-color: #FFF;
    margin-top: -60px;
    position: relative;
    &__text{
        margin: 0 3%;
    }
    &__header{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin: 0;
        padding: 20px 0 0 0; 
        position: relative;
    }
    &__titre{
        font-family: 'Shrikhand', sans-serif;
        font-size: 0.9em;
        margin-left: 2%;
    }
    &__coeurs{
        font-size: 1.4em;
        cursor: pointer;
        position: absolute;
        top: 45px;
        right: 20px;
        &:hover{
            .vide{
                opacity: 0;
                transition-duration: 2s;
            }
            .plein{
                opacity: 1;
                transition-duration: 2s;
            }
        }
    }
        .vide{
            opacity: 1;
        }
        .plein{
            position: absolute;
            top: 1.2px;
            right: 0px;
            opacity: 0;
            background-image: linear-gradient( 175deg, #ff79da, #9356dc);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }  
    &__sous-titre{
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.1em;
        position: relative;
        &::after{
            content: " ";
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: #99E2D0;
            left: 0px;
            bottom: -7px;
        }
    }
    &__article{
        position: relative;
        background-color: #FFF;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        margin: 20px auto;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(94, 63, 63, 0.200);
        overflow: hidden;

        // Animation pour les articles 
        
        -webkit-animation: remonteeArticle 3s both;
        animation: remonteeArticle 3s both;

        // Fin de l'animation sur les articles 
        // Hover block vert 
        &:hover{
            .menu--section__conteneur{
                visibility: visible;
                right: 0;
            }
            .menu--section__check i{
                animation: rotation 1s both;
            }
            p.menu--section__prix{
                margin-right: 100px;
            }
        }
        // Fin de l'hover du block vert 
        h3{
            margin: 0;
            margin-top: 15px;
            font-size: 1.2em;
            font-weight: 500;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        p{
            margin: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 1em;
            font-weight: 300;
            text-overflow: ellipsis;
            overflow: hidden;
            &.menu--section__prix{
                margin-right: 10px; // A réécrire 
                font-weight: 500;
                text-overflow: ellipsis;
                overflow: hidden;
            }   
        }
    }
    &__menus{
        margin-left: 10px;
    }
    &__conteneur {
        //visibility: hidden;
        position: absolute;
        right: -80px;
        background-color: #99E2D0;
        width: 80px;
        height: 75px;
        border-radius: 0 20px 20px 0;
        display:flex;
        align-items: center;
        justify-content: center;         
    }
    &__check {
        color:#99E2D0;
        height: 25px;
        width: 25px;
        background-color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;  
    }
}
@media (min-width : 1100px){
    .menu--section{
        &__responsive{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 1300px;
            margin: 0 auto;
        }
        &__header{
            max-width: 500px;
            margin: 20px auto;
        }
        &__sous-titre{
            margin-bottom: 30px;
        }
        &__article{
            width: 350px;
            height: 75.5px;
        }
    }
}
// Fonction rotation validé
@keyframes rotation {
    0% {
        transform: rotate(0);
}
    100% {
        transform: rotate(360deg);
    }
}

// Fin fonction rotation validé 
.menu--section__entree .menu--section__article:nth-of-type(1){
    animation-delay: 0.1s;
}
.menu--section__entree .menu--section__article:nth-of-type(2){
    animation-delay: 0.2s;
}
.menu--section__entree .menu--section__article:nth-of-type(3){
    animation-delay: 0.3s;
}
.menu--section__entree .menu--section__article:nth-of-type(4){
    animation-delay: 0.4s;
}
.menu--section__plats .menu--section__article:nth-of-type(1){
    animation-delay: 0.5s;
}
.menu--section__plats .menu--section__article:nth-of-type(2){
    animation-delay: 0.6s;
}
.menu--section__plats .menu--section__article:nth-of-type(3){
    animation-delay: 0.7s;
}
.menu--section__desserts .menu--section__article:nth-of-type(1){
    animation-delay: 0.8s;
}
.menu--section__desserts .menu--section__article:nth-of-type(2){
    animation-delay: 0.9s;
}
.menu--section__desserts .menu--section__article:nth-of-type(3){
    animation-delay: 1s;
}
.menu--btn{
    background: linear-gradient(175deg, #FF79DA, #9356DC);
    border-color:  #FF79DA;
    border-radius: 40px;
    color: #FFF;
    padding: 15px 55px;
    display: block;
    margin: 50px auto 70px auto;  
    font-size: 1.2em;
    &:hover{
        box-shadow: 1px 1px 10px black;
    }   
}
// Début du copie de la fonction 
@-webkit-keyframes remonteeArticle {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes remonteeArticle {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
// Fin copie de la fonction   

// Fin de la copie de la page menu
footer{
    background-color: #353535;
    color: #FFF;
    .text-footer{
        padding: 30px 20px 50px 20px;
        &__img-text{
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
        &--span{
            width: 25px;
        }
    }
    img{
        filter: invert(100%); 
        -webkit-filter:invert(100%); 
        height: 20px;
    }
    p{
        margin: 0px;
    }
    li{
        margin: 10px auto;
        font-size: 1em;
    }
    i{
        font-size: 0.8em;
        margin-right: 10px;
    }
    ul{
         margin-top: 25px;

    }
    .fa-hands{
        font-size: 0.70em;
    }
}
//Animation pour le chargement de la page 

@-webkit-keyframes chargementPage {
    0% {
        -webkit-transform: background(#FFF);
                transform: background(#FFF);
        opacity: 0;
      }
      100% {
        -webkit-transform: background(#FFF);
                transform: background(#FFF);
        opacity: 1;
      }
  }
  
  @keyframes chargementPage {
    0% {
      -webkit-transform: background(#FFF);
              transform: background(#FFF);
      opacity: 0;
    }
    100% {
      -webkit-transform: background(#FFF);
              transform: background(#FFF);
      opacity: 1;
    }
  }
@-webkit-keyframes chargement {
    0% {
        -webkit-transform: background(#FFF);
                transform: background(#FFF);
        opacity: 1;
      }
      100% {
        -webkit-transform: background(#FFF);
                transform: background(#FFF);
        opacity: 0;
      }
  }
  
  @keyframes chargement {
    0% {
      -webkit-transform: background(#FFF);
              transform: background(#FFF);
      opacity: 1;
    }
    100% {
      -webkit-transform: background(#FFF);
              transform: background(#FFF);
      opacity: 0;
    }
  }
// Fin animation chargement de la page 
//Animation pour l'effet de chargement  

@-webkit-keyframes grow {
	0% { -webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
	50% { -webkit-transform: scaleY(1); transform: scaleY(1); opacity: 1;}
	100% { -webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
}

@keyframes grow {
	0% { -webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
	50% { -webkit-transform: scaleY(1); transform: scaleY(1); opacity: 1;}
	100% { -webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
}

// Fin animation de l'effet de chargement 

