@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

ul{
    list-style-type: none;
    padding: 0;
}
nav{
        margin-top: 20px;
    i{
        
       float: left;
       margin-top: 2%;
    }
    .header__logo{
        text-align: center;
        img{
            width: 50%;
        }
    }
}
.img_header{
    width: 100%;
}
.section__main{
    border-radius: 40px 40px 0 0;
    background-color: #FFF;
    margin-top: -60px;
    position: relative;
}
.section__header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 ;
    padding: 0; 
}
h2{
    text-transform: uppercase;
    font-weight: 100;
}
.article{
    background-color: #FFF;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        width: 90%;
        margin: 20px auto;
        border-radius: 20px;
        padding: 0 15px;
        box-shadow: 0 0 20px rgba(94, 63, 63, 0.200);
        h3{
            margin: 0;
            margin-top: 15px;
            font-size: 1.3em;
        }
        p{
            margin: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 1.2em;
        }
    }
button{
    background: linear-gradient(#E483E2, #C077E1);
    border-color: transparent;
    border-radius: 40px;
    color: white;
    padding: 15px 55px;
    display: block;
    margin: 50px auto 70px auto;  
    font-size: 1.2em;   
}
footer{
    background-color: #353535;
    color: #FFF;
    .text-footer{
        padding: 30px 20px 50px 20px;
        &__img-text{
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
    }
    img{
        filter: invert(100%); 
        -webkit-filter:invert(100%); 
        height: 20px;
    }
    p{
        margin: 0px;
    }
    li{
        margin: 10px auto;
        font-size: 1em;
    }
    i{
        font-size: 0.8em;
        margin-right: 10px;
    }
    ul{
            margin-top: 25px;
    }
    .fa-hands{
        font-size: 0.55em;
        margin-right: 9px;
    }

}